*.pyc 
__pycache__/ 
venv/
database_backups/
db.sqlite3 
media/
inventory/helper.py
logs/
inventory/management/
monitoring/management/
to do.md
django_db.sql
temp/
prediction_models/
scraper.py
dialogScript.js
product_constructors.py