<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\home\python39\python.exe|D:\home\python39\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="Django Handler" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="home/django/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
