<!-- machine_card_net.html -->
<div class="card" id="machine_{{ machine_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ machine_name }}</h5>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Status:</th>
                    <td class="status">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Current cycle:</th>
                    <td class="this_cycle_duration">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Remaining time:</th>
                    <td class="remain_time">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Last cycle:</th>
                    <td class="last_cycle_duration">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Current tool:</th>
                    <td class="current_tool">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Active program:</th>
                    <td class="active_nc_program">Loading...</td>
                </tr>
                <tr>
                    <th scope="row">Time:</th>
                    <td class="current_machine_time">Loading...</td>
                </tr>
            </tbody>
        </table>
        <div class="subscription-controls">
            <div class="form-check mb-2 fs-6">
                <input class="form-check-input subscription-toggle custom-sub-checkbox"
                    type="checkbox"
                    data-machine="{{ machine_name }}"
                    data-event="cycle_end"
                    id="cycle_sub_{{ machine_name }}">
                <label class="form-check-label" for="cycle_sub_{{ machine_name }}">
                Cycle End
                </label>
            </div>

            <div class="form-check fs-6">
                <input class="form-check-input subscription-toggle custom-sub-checkbox"
                    type="checkbox"
                    data-machine="{{ machine_name }}"
                    data-event="alarm"
                    id="alarm_sub_{{ machine_name }}">
                <label class="form-check-label" for="alarm_sub_{{ machine_name }}">
                Alarm
                </label>
            </div>
            </div>
    </div>
</div>
